@model IEnumerable<ProjectManagement.Models.EmployeeViewModel>
@inject IUtility _Utility



@{
    ViewData["Title"] = "Employee";
    int i = 1;
}

<div class="xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    @*<nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-area="" asp-controller="Implementation" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>*@
                </div>
            </div>
        </div>

        <div class="card-box mb-30">
            <div class="pd-20">
                <p class="mb-0"><a class="btn btn-primary pull-left btn-add" asp-action="AddOrEdit"><i class="fa fa-plus"></i> &nbsp; CREATE</a></p>
            </div>


            <div class="pb-20" id="search">
                <table class="data-table table stripe hover nowrap" id="dataTable">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Designation)
                            </th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Designation)
                                </td>

                                <td>
                                    <a asp-controller="Employee" asp-action="AddOrEdit" asp-route-id="@item.Id">AddOrEdit ||</a>

                                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                                </td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}