@model ProjectManagement.Models.DeploymentViewModel
@{
    int i = 1;
}
<table class="data-table table stripe hover nowrap" id="dataTable">
    <thead>
        <tr>
            <th>S.N.</th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PalikaName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNameList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PalikaName)
            </td>
           
            <td>
                <a asp-controller="Deployment" asp-action="AddOrEdit" asp-route-id="@item.Id">AddOrEdit ||</a>
                <a asp-controller="Deployment" asp-action="Details" asp-route-id="@item.Id">Details ||</a>
                <a asp-controller="Deployment" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>


        </tr>
            i++;
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
