@model ProjectManagement.Models.DeploymentViewModel

@{
    ViewData["Title"] = "Deployment Details";
}







<<div class="xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <div class="form-container">

                <div class="row">
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.ClientName) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.ClientName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.DeploymentBy) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.EmployeeName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.ServerId) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.ServerName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.StateName) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.StateName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.DistrictName) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.DistrictName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.PalikaName) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.PalikaName</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.BsStartDate) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.BsStartDate</div>
                    <div class="col-md-3" style="text-align: right;">@Html.DisplayNameFor(m => m.Remarks) :</div>
                    <div class="col-md-3" style="text-align: left;">@Model.Remarks</div>
                    <div class="sifaris-input-form">
                        <div class="scroll-table-cover">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>Project Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProjectList)
                                    {
                                        <tr>

                                            <td>@item.ProjectName</td>
                                        </tr>

                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>


                </div>
            </div>


            <div class="form-group">
                <a class="btn btn-primary pull-left mb-30 mr-1" asp-action="Index">Back List</a>
            </div>
        </div>
    </div>
</div>



